.add-task-form {
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid rgb(31, 136, 197);
    width: 400px;
    height: 250px;
    padding: 15px;
}

.add-task-form .item {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.add-task-form .item input {
    border: none;
    border-bottom: 3px solid rgb(31, 136, 197);
    font-size: 20px;
}

.add-task-form .item:last-child input {
    text-align: center;
}

.add-task-form .item input:active,
.add-task-form .item input:focus {
    border: none;
    border-bottom: 3px solid rgb(31, 136, 197);
    outline: none;
}

.add-task-form .buttons {
    text-align: center;
    margin: 10px;
}

.add-task-form .buttons button {
    border: 3px solid rgb(31, 136, 197);
    background-color: white;
    width: 100px;
    height: 35px;
    font-size: 18px;
    margin: 5px;
}

.add-task-form .buttons button:active {
    box-shadow: gray 3px 3px 5px;
}

.category-select {
    border: none;
    border-bottom: 3px solid rgb(31, 136, 197);
    font-size: 20px;
    outline: none;
}

.add-task-form .add-button a:hover {
    transform: rotate(180deg);
}

.tasks-tables {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
}

.tasks-tables h2 {
    text-align: center;
}

.tasks-tables table {
    padding: 3px;
    border-spacing: 0px;
}

.tasks-tables table td:nth-child(1) {
    border-bottom: 2px solid rgb(31, 136, 197);
    border-top: 2px solid rgb(31, 136, 197);
}

.tasks-tables table td:nth-child(2) {
    width: 150px;
    border-right: 2px solid rgb(31, 136, 197);
    border-bottom: 2px solid rgb(31, 136, 197);
    border-top: 2px solid rgb(31, 136, 197);
}

.tasks-tables table td:nth-child(3) {
    width: 300px;
    border-left: 2px solid rgb(31, 136, 197);
    border-right: 2px solid rgb(31, 136, 197);
    border-bottom: 2px solid rgb(31, 136, 197);
    border-top: 2px solid rgb(31, 136, 197);
}

.tasks-tables table td:nth-child(4) {
    width: 210px;
    border-left: 2px solid rgb(31, 136, 197);
    border-right: 2px solid rgb(31, 136, 197);
    border-bottom: 2px solid rgb(31, 136, 197);
    border-top: 2px solid rgb(31, 136, 197);
}

.tasks-tables table td:nth-child(5) {
    width: 150px;
    border-right: 2px solid rgb(31, 136, 197);
    border-left: 2px solid rgb(31, 136, 197);
    border-bottom: 2px solid rgb(31, 136, 197);
    border-top: 2px solid rgb(31, 136, 197);
}

.tasks-tables table td:nth-child(6) {
    border-left: 2px solid rgb(31, 136, 197);
    border-top: 2px solid rgb(31, 136, 197);
    border-bottom: 2px solid rgb(31, 136, 197);
}

.tasks-tables table td:nth-child(7) {
    border-top: 2px solid rgb(31, 136, 197);
    border-bottom: 2px solid rgb(31, 136, 197);
}

.tasks-tables thead {
    text-align: left;
    font-weight: bold;
    font-size: 19px;
    background-color: rgb(31, 136, 197);
    color: white;
}

.tasks-tables table tbody tr:last-child td {
    border-bottom: none;
}

.tasks-tables td {
    padding: 4px;
}

.tasks-tables table tr:first-child td {
    border-top: none;
}

.done-button {
    color: green;
    font-size: 20px;
}

.clear-table {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.delete-button,
.edit-button {
    cursor: pointer;
}

.completed-tasks-table .edit-button {
    visibility: hidden;
}

.line-through {
    text-decoration: line-through solid black 4px;
}

/* Editing task, inputs style */

.tasks-tables table tr td:nth-child(2) input {
    border: 2px solid rgb(31, 136, 197);
    width: 140px;
    outline: none;
}

.tasks-tables table tr td:nth-child(3) input {
    border: 2px solid rgb(31, 136, 197);
    width: 290px;
    outline: none;
}

.tasks-tables table tr td:nth-child(4) input {
    border: 2px solid rgb(31, 136, 197);
    width: 200px;
    outline: none;
}

.tasks-tables table tr td:nth-child(5) select {
    border: 2px solid rgb(31, 136, 197);
    width: 150px;
    outline: none;
}

.overdue-task {
    background-color: rgba(255, 0, 0, 0.35);
}